NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
HOA_FROM_EMAIL="Madison Park HOA <onboarding@resend.dev>"
NEXT_PUBLIC_HOA_NAME="Madison Park HOA"
NEXT_PUBLIC_HOA_LOGO_URL=/logo.png
